body {
  /*
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 0rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;  
  height: 100%;
  */
}



/* DockDemo.css */
.dock-demo {
  width: 100%;
  height: 100vh;
  /* Asegura que el contenedor cubra toda la altura de la ventana del navegador */
  display: flex;
  justify-content: center;
  /* Centra el contenido horizontalmente */
  align-items: center;
  /* Centra el contenido verticalmente */
}

.dock-demo {
  background-image: url('https://primefaces.org/cdn/primereact/images/dock/window.jpg');
}

.dock-window {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('https://primefaces.org/cdn/primereact/images/dock/window.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Centra la imagen de fondo */
}

.dock-demo .p-dock {
  /*z-index: 1000;*/
}

.dock_positionavg {
  z-index: 4;
}


.listdigimonpositionavg {
  z-index: 3;
}

span.flag {
  width: 44px;
  height: 30px;
  display: inline-block;
}


.imgcardigimon {
  width: 15rem;
  
  font-size: 8px;
}
